@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Caveat&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

@media only screen and (min-width: 768px) {
  .hero::before {
    content: "";
    display: block;
    position: absolute;
    background: url(./images/bg_gradient__main-header.svg) no-repeat top
      center/1095px;
    width: 1200px;
    height: 100%;
    -webkit-transform: translate(-22%, -50%);
    -ms-transform: translate(-22%, -50%);
    transform: translate(-22%, -50%);
    left: 50%;
    top: 50%;
    z-index: -1;
    max-width: 1095px;
  }
}

.footer {
  background-color: blue;
  background: url(./images/bg__gradient__blue.svg) no-repeat 10% 80%;
  width: 90%;
  z-index: 1;
  border-top-right-radius: 100px;
  left: 0;
}
.foot {
  background: url(./images//bg__with-dotted.svg) no-repeat right;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: space-between;
  /* margin-left: -8px; */
  /* margin-right: -3px; */
}
.cards__item {
  flex-basis: 20%;
  padding-left: 5px;
  padding-right: 5px;
}
.fileImg {
  background-image: url("https://i.pinimg.com/originals/0b/0d/bd/0b0dbd0c302538d799bd14dabef26f4f.jpg");
  filter: blur(4px);
  -webkit-filter: blur(4px);
  height: 150px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  position: relative;
  cursor: pointer;
}
.container__overlay {
  z-index: 99;
  left: 0;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-family: "Baloo Chettan 2", cursive;
  background-color: rgba(0, 0, 0, 0.1);
}
.gradient {
  background: hsla(262, 98%, 62%, 1);

  background: linear-gradient(
    135deg,
    hsla(262, 98%, 62%, 1) 37%,
    hsla(178, 64%, 65%, 1) 100%
  );

  background: -moz-linear-gradient(
    135deg,
    hsla(262, 98%, 62%, 1) 37%,
    hsla(178, 64%, 65%, 1) 100%
  );

  background: -webkit-linear-gradient(
    135deg,
    hsla(262, 98%, 62%, 1) 37%,
    hsla(178, 64%, 65%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#843DFD", endColorstr="#6BDFDB", GradientType=1 );
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.sidebar-items:not(:last-child) {
  margin-bottom: 1.5em;
}

@media only screen and (max-width: 767px) {
  .sidebar-items {
    margin-bottom: 0 !important;
  }
}

.sidebar-items {
  color: gray;
  font-size: large;
}

.sidebar-items p {
  margin-left: 1em;
}
